*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}


#projects{
    width: 100%;
    min-height: 100vh;/*depende diretamente da altura da janela*/
    background-color:var(--cream);
    padding-top: 52px;
    
}
#projects .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects .projects-header{
    width: 100%;
    
}

.projects-header h2{
    font-family: "Playfair Display", serif;
    line-height: 1;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 1rem;
    max-width: 1000px;
}

#projects .projects-content{
    display: flex;
    gap:40px;
    width: 100%;
    margin-top: 30px;
    align-items: flex-start;
    
}

#projects .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:24px;
    flex: 1;
    min-width: 0;
   
    
}

#projects .project-preview{
    flex: 1;
    min-width: 0;
    background-color: white;
    padding: 24px;
    border: 1px solid var(--border);
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.12) ;
}

.project-preview h3{
    font-family: "Playfair Display", serif;
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.project-image{
    width: 100%;
}

.project-card{
    background-color: white;
    padding: 24px;
    border: 1px solid var(--cream);
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.12) ;
    cursor: pointer;
    transition: transform 0.3s ease;
     
}
   


.project-card:hover{
    transform: translateY(-5px);
}

.project-card h3{
    font-family: "Playfair Display", serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 16px;
    color: var(--black);
    text-align: left;
}

.project-card p{
    color: var(--text);
    margin-bottom: 16px;

}

.project-techs{
    display: flex;
    gap: 8px;

}

.project-techs span{
    background-color: var(--cream-medium);
    padding: 6px 10px;
    border: 1px solid var(--border);
    border-radius: 6px;
    margin-top: 8px;
}
.project-links{
    display: flex;
    gap: 12px;
    cursor: pointer;
}
.project-links a {
    text-decoration: none;
    color: var(--red);
    font-weight: 600;
    margin-top: 8px;
}
.project-links a:hover{
    text-decoration: underline;
}
.project-thumbnail{
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}