*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#skills{
    width: 100%;
    height: calc(100vh - 43px);
    background-color: var(--cream);
}

#skills .container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: center;

}

#skills .skills-header{
    width: 100%;
}

.eyebrow{
    color: var(--red);
    font-family: "DM Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.skills-header h2{
    font-family: "Playfair Display", serif;
    line-height: 1;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 1rem;
}

.skills-header strong{
     color:var(--red);
}

.skills-header p{
    font-family: "DM Sans", sans-serif;
    max-width: 1100px;
    margin-bottom: 16px;
    line-height: 1.5;
}

#skills .skills-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:24px;
}

#skills .skill-card{
    background-color:white;
    padding: 24px;
    border: 1px solid var(--border);
    border-radius: 12px;
    box-shadow:0 8px 24px rgba(0,0,0,0.12) ;
}
.skill-card h3{
    font-family: "DM Sans", sans-serif;
    font-size: 1.25rem;
}

.skill-tags {
    font-family:"DM Sans", sans-serif;
    display: flex;
    gap:8px;
    flex-wrap: wrap;
}
.skill-tags span{
    background-color: var(--cream);
    padding: 6px 12px;
    margin-top: 16px;
    border: 1px solid var(--border);
    border-radius: 999px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.12);
    font-size: 0.85rem;
    color:var(black);
    font-weight: 500;
    transition: transform 0.3s ease;
}

.skill-card:hover{
    transform: translateY(-5px);
    
}

@media (max-width:900px) {

    #skills .container {
        padding-top: 70px;
    }

    #skills .container h2{
        font-size: 25px;
    }

    #skills .container p{
        display: none;
    }
  

    #skills 
    .skills-grid {
        display: flex;
        overflow-x: auto;
        gap:16px;
        scroll-snap-type: x mandatory; 
    }
    #skills .skill-card{
        flex: 0 0 85%;
        scroll-snap-align: start;
    }
}