@import url(hero.css);
@import url(aboutMe.css);
@import url(skills.css);
@import url(projects.css);
@import url(comentarios.css);
@import url(contato.css);
@import url(footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}





body{
    width: 100%;
     overflow-x: hidden;
}

/*font-family: "Space Mono", monospace;*/
/*font-family: "Playfair Display", serif; */
/*font-family: "DM Sans", sans-serif;*/
:root{
    --black:#0d0d0d;
    --cream:#f5f0e8;
    --red:#e84040;
    --amber:#f5a623;
    --cream-medium:#ede8db;
    --text-light:#8a8a8a;
    --border:#d0ccc0;
    --text: #4a4a4a;
}

.container{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;/* para responsividade impede que em telas menores o conteúdo fique colado nas bordas*/
    /*min-height: 100%;*/

}

#menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: linear-gradient(90deg,var(--black),#150909);
    padding: 0 2rem;
    border-bottom: 1px solid rgba(240, 240, 240, 0.2);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1000;
}

#logo{
    color:var(--red);
    font-size:2rem;
    font-weight: 700;
    letter-spacing:0.1em;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    
    
}

#menuList{
    display: flex;
    align-items: center;
    gap:2rem;
    text-decoration: none;
    list-style-type:none;
}

.nav-item a{
    color:var(--cream);
    text-decoration: none;
    padding: 10px;
    font-size:1rem;
    font-weight:500;
    letter-spacing: 0.05em;
    transition: color 0.03s ease;
}
.nav-item a:hover{
    color:var(--red);
}


.nav-item a{
    position: relative;
}

.nav-item a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    background: var(--red);
    transition: width 0.3s ease;
}

.nav-item a:hover::after,.nav-item a:focus::after{
    width: 100%;
}

#btn_mobile{
    display: none;
}

#mobile_menu{
    display: none;
}

@media (max-width:700px){
    #menuList{
        display:none;
    }

    #btn_mobile{
        display:block;
    }

    #mobile_menu.active{
        display: block;
    }

    #mobile_menu{
        position: fixed;
        top:43px;
        left: 0;
        width: 100%;    
        background: linear-gradient(90deg, var(--black), #150909);
        padding: 24px;

    }
    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        list-style: none;
    }

}
